<h1>Employee</h1>

First Name: <%= @employee.first_name %><br>
Last Name: <%= @employee.last_name %><br>
Alias: <%= @employee.alias %><br>
Title: <%= @employee.title %><br>
Office: <%= @employee.office %><br>
Dog: <%= @employee.dog.name %><br>
<img src=<%= @employee.img_url %>, width="300">