<h1>Employee</h1>
<h3>Name: <%= @employee.full_name %></h3>
<h5>Alias: <%= @employee.alias %></h3>
<h5>Title: <%= @employee.title %></h5>
<h5>Office: <%= @employee.office %></h5>
<h5>Picture: <img src="<%=@employee.img_url%>" alt="Picture of"<%=@employee.full_name%>></h5>
<h5>Dog: <%= @employee.dog.name %></h5>